/*Teal text*/
.teal_font {
	color: #4aaaa5;
}

/*Teal background*/
.teal_background {
	background: #4aaaa5;
}

/*White text*/
.white_font {
	color: #ffffff;
}

/*White background*/
.white_background {
	background: #ffffff;
}

/*Grey text*/
.grey_font {
	color: #777777;
}

/*Line separating main header with the body*/
.header_border {
	border-bottom: 1.5px solid #cccccc;
}

/*Footer background*/
.footer_background {
	background: #666666;
}

/*.content_border {
	border: 1px solid #dddddd;
}*/

/*Fonts for header*/
.heading_fonts {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

/*Fonts for normal text*/
.regular_fonts {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/*Font size of contact form labels (i.e. name, email, message)*/
.form_label_font {
	font-size: 13px;
}

/*Preparation for sticky footer*/
html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.main {
	background: #ffffff;
	flex: none; /*to make sure the entire header cannot be shrunk*/
	border-bottom: 1.5px solid #cccccc;
	overflow: auto;
}

.header_1 {
	float: left;
	font-size: 24px;
	font-weight: bold;
	margin-left: 6%;
	padding: 20px 30px;
	text-align: center;
}

.main_options {
	float: right;
	margin-right: 3%; /*should match the 6% margin-left of header 1 but since there is already padding within each about, portfolio, and contact option, need to make this margin-right slightly smaller; hence, 3%*/
	text-align: center;
	padding: 20px;
}

.about_portfolio_contact {
	padding: 20px;
	text-align: center;
	text-decoration: none;
}

a:link {
	color: #777777;
}

a:hover {
	color: #4aaaa5;
}

.body_block {
	background-image: url("../images/background_image.png");
	clear: both;
	flex: 1 0 auto; /*to make the body flexible to grow or shrink*/
	overflow: auto;
}

.header_2 {
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}

.body_border {
	border: 1px solid #dddddd;
	float: left; /*float needed to ensure 'Connect With Me' stays on the same line as the body content*/
	margin-bottom: 30px;
	margin-left: 6%; /*6% margin-left to match 6% margin-left of header 1*/
	margin-top: 30px;
	padding: 30px;
	width: 50%; /*this body content takes up 50% of the screen*/
}

.body_content_hr {
	border: 1.5px solid #dddddd;
}

.body_about_content {
	line-height: 150%;
	padding-top: 10px;
}

.profile_image {
	float: left; /*float left of picture needed to make sure the text wraps around the image*/
	height: 40%;
	margin-top: 5px;
	margin-right: 20px;
/*	-moz-transform: rotate(90deg);
	-ms-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);*/
	width: 40%;
}

.body_connect {
	border: 1px solid #dddddd; 
	float: right;
	/*margin-left: 30px;*/
	margin-right: 6%; /*6% margin-right to match the 6% margin-left of header 1 and body border*/
	margin-top: 30px;
	padding: 30px;
	width: 18%; /*thid body connect takes up 18% of the screen*/
}

.header_3 {
	padding-bottom: 10px;
	font-size: 15px;
	font-weight: bold;
}

.body_connect_hr {
	border: 1px solid #dddddd;
}

.body_connect_content {
	padding-top: 10px;
}

.body_connect_icons {
	float: left;
	height: 27%; /*height is not 33% to account for the padding*/
	width: 27%; /*width is not 33% to account for the padding*/
	padding: 3%;
}

.footer {
	border-top: 4px solid #4aaaa5;
	clear: both;
	color: #bbc0c9;
	font-size: 10px;
	padding: 30px;
	text-align: center;
}

.body_contact_content {
	padding-top: 15px;
}

.form_customization_1 {
	border: 1px solid #dddddd;
	box-sizing: border-box; /*make the input box match the width of body_border*/
	color: #777777;
	margin: 10px 0px;
	padding: 8px; /*create padding around the words typed into the input box*/
	width: 100%;
}

.form_customization_2 {
	border: 1px solid #dddddd;
	box-sizing: border-box; /*make the input box match the width of body_border*/
	color: #777777;
	margin: 10px 0px;
	padding: 8px; /*create padding around the words typed into the input box*/
	width: 100%;
}

.form_style input[type=submit] {
	border: none;
	box-shadow: none;
	font-size: 14px;
	padding: 10px 20px;
}

.form_style input[type=submit]:hover {
	background-color: #777777;
	cursor: pointer;
}

.form_style input::-webkit-input-placeholder {
	color: #bbc0c9; /*change the placeholder text into a lighter shade of grey*/
}

.left {
	float: left; /*float left needed to make sure the left and right column images stay as two columns instead of one column*/
	padding-right: 2.5%; /*padding to create the space between the two columns*/
	width: 47.5%; /*each column takes up only around half of the parent body_border container*/
}

.left_images {
	padding-top: 20px;
	width: 100%; /*each image takes up the entire column*/
}

.right {
	float: left; /*float left needed to make sure the left and right column images stay as two columns instead of one column*/
	padding-left: 2.5%; /*padding to create the space between the two columns*/
	width: 47.5%; /*each column takes up only around half of the parent body_border container*/
}

.right_images {
	padding-top: 20px;
	width: 100%; /*each image takes up the entire column*/
}

.relative {
	position: relative;
}

.absolute {
	padding-top: 3%;
	padding-bottom: 3%;
	position: absolute; /*needed to make sure the portfolio labels are not beneath the pictures but rather on top of the pictures*/
	top: 75%; /*distance from the top of the parent container to the beginning of the label is 75%*/
	text-align: center;
	width: 100%;
}

@media screen and (max-width: 980px) {
	.profile_image {
		height: 100%;
		margin-bottom: 20px;
		width: 100%; /*at 980px, the picture takes up the entire div so the width is set to 100% of the parent container*/
	}

	.left {
		padding-right: 0px; /*at 980px, the portfolio pictures become one column so there is no need to create a space between the two columns*/
		width: 100%;
	}

	.right {
		padding-left: 0px; /*at 980px, the portfolio pictures become one column so there is no need to create a space between the two columns*/
		width: 100%;
	}

}

@media screen and (max-width: 768px) {
	.header_1 {
		margin-left: 3%; /*original margin-left of 6%*/
	}

	.main_options {
		margin-right: 0px;
	}

	.body_border {
		box-sizing: border-box; /*specifies the width and height of body_border includes content, padding, and border but not margin*/
		margin-left: 3%; /*match the margin-left of header 1*/
		margin-right: 3%; /*match the margin-left of header 1*/
		width: 94%; /*width of 94% instead of 100% to account for the margin-left and margin-right*/
	}
	
	.body_connect {
		clear: both; /*unnecesssary*/
		box-sizing: border-box; /*specifies the width and height of body_border includes content, padding, and border but not margin*/
		margin-bottom: 30px; 
		margin-left: 3%; /*match the margin-left of body_border*/
		margin-right: 3%; /*match the margin-left of body_border*/
		margin-top: 0px;
		width: 94%; /*width of 94% instead of 100% to account for the margin-left and margin-right*/
	}

	.body_connect_icons {
		float: left; /*unnecesssary*/
		height: 50px; /*specify the height and width to make the icons smaller*/
		padding: 1%;
		width: 50px; /*specify the height and width to make the icons smaller*/
	}

	.profile_image {
		height: 40%; /*change the height and width of profile image back to how it was defined at first to match the original look*/
		margin-bottom: 0px;
		width: 40%; /*change the height and width of profile image back to how it was defined at first to match the original look*/
	}

	.left {
		padding-right: 2.5%; /*change the portfolio images back to two columns and how it was defined at first*/
		width: 47.5%; /*change the portfolio images back to two columns and how it was defined at first*/
	}

	.right {
		padding-left: 2.5%; /*change the portfolio images back to two columns and how it was defined at first*/
		width: 47.5%; /*change the portfolio images back to two columns and how it was defined at first*/
	}
}

@media screen and (max-width: 640px) {
	.header_1 {
		margin-left: 0px; /*give it 0px because the teal background header takes up the entire width of the page*/
		padding: 20px 0px; /*needed to recenter the entire teal background*/
		width: 100%; /*teal background header takes up the entire width of the page*/
	}

	.main_options {
		padding: 20px 0px; /*needed to recenter the entire header options*/
		width: 100%; /*about, portfolio, and contact options takes up the entire width of the page*/
	}

	.about_portfolio_contact {
		padding-left: 5%;
		padding-right: 5%;
	}

	.profile_image {
		height: 100%; 
		margin-bottom: 20px;
		width: 100%; /*at 640px, the picture takes up the entire div so the width is set to 100% of the parent container*/
	}

	.left {
		padding-right: 0px; /*at 640px, the portfolio pictures become one column so there is no need to create a space between the two columns*/
		width: 100%; /*at 980px, the portfolio pictures become one column so there is no need to create a space between the two columns*/
	}

	.right {
		padding-left: 0px; /*at 980px, the portfolio pictures become one column so there is no need to create a space between the two columns*/
		width: 100%; /*at 980px, the portfolio pictures become one column so there is no need to create a space between the two columns*/
	}
}
